@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: "Chakra Petch", sans-serif;
}

@media (max-width: 540px) {
    .tennis-players-block {
        display: none;
    }
}

@media (max-width: 960px) {
    #tennis-player3 {
        display: none;
    }

    #tennis-player4 {
        display: none;
    }
}

@media (max-width: 640px) {
    .pagination-block {
        display: contents;
    }
}

nav {
    background-color: yellowgreen;
    padding-left: 20px;
}

nav a {
    display: inline-flex;
    align-items: center;
    padding: 10px 0 10px;
    margin-right: 50px;
    color: black;
    font-size: 30px;
    text-wrap: nowrap;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

.nav-icon {
    width: 30px;
}

body {
    margin: 0;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
}

.tennis-players {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 100%;
    max-width: 480px;
}

.main-block {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 5px solid yellowgreen;
    border-radius: 15px;
}

#new-match-block {
    max-width: 500px;
}

#match-score-block {
    max-width: 1500px;
    width: 80%;
}

#match-result-block {
    max-width: 500px;
}

#match-result-block caption {
    font-size: 20px;
}

#match-result-block table {
    margin-bottom: 20px;
}

#winner-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#winner-cup-icon {
    width: 60px;
    height: 50px;
    margin-right: 10px;
}

#winner-block span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 35px;
    font-weight:bold;
    background-image: -webkit-linear-gradient(#FFF65C, #3A2C00);
    text-shadow: -0.02em -0.03em 0.005em rgba(255, 223, 0, 0.60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.2em;
}

.form-block {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 25px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

input {
    display: block;
    margin: 10px auto 20px auto;
    width: 100%;
    font-size: 35px;
    border: 3px solid yellowgreen;
    border-radius: 5px;
    background-color: whitesmoke;
}

button {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    background-color: yellowgreen;
    border: 2px solid black;
    border-radius: 25px;
}

button:hover {
    color: white;
    cursor: pointer;
}

.error-message {
    color: red;
}

.tennis-players-block {
    margin: 50px auto 0 auto;
    width: 100%;
    text-align: center;
}

.tennis-player {
    height: 190px;
}

#tennis-player1 {
    margin-right: 100px;
}

#tennis-player4 {
    margin-left: 100px;
}

table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}

caption {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

th {
    width: 18%;
    padding-bottom: 25px;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

th:first-child {
    width: 28%;
}

td {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 2px solid yellowgreen

}

tr:first-child td {
    border-bottom: 2px solid yellowgreen;
}

td:last-child {
    border-right: none;
}

.win-point-button {
    padding-top: 15px;
    padding-bottom: 15px;
}

#matches-block {
    max-width: 1000px;
}

.player-name-filter-form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.player-name-filter-form button {
    display: inline-block;
}

#player-name-filter {
    display: inline-block;
    width: 80%;
    margin-right: 10px;
}

#matches-table th {
    width: 30%;
    padding-bottom: 25px;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

#matches-table th:first-child {
    width: 10%;
}

#matches-table td {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 2px solid yellowgreen;
    border-bottom: 2px solid yellowgreen;
}

#matches-table td:last-child {
    border-right: none;
}

#matches-table tr:last-child td {
    border-bottom: none;
}

.page-icon {
    height: 50px;
    width: 50px;
}

.pagination-block {
    text-align: center;
}

.page-block {
    display: inline-block;
    position: relative;
    margin-right: 35px;
}

.page-block:last-child {
    margin-right: 0;
}

.page-block img {
    display: block;
}

.overlay-page-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
    text-shadow: 2px 2px 4px;
}

.overlay-page-number:hover {
    color: white;
}